@model crudvedosyaISLEMLERI.Models.BuKlasorrr.Sinifsal

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Şarkının Id</th>
            <th scope="col">Şarkının Adı</th>
            <th scope="col">Şarkıcının Adı</th>
            
            <a asp-action="Create" class="btn btn-dark mt-2">Ekle</a>

        </tr>
        
    </thead>
    <tbody>
        @foreach(var item in Model.Sarkilar)
        {
            <tr>
                
                <td>@item.SarkiId</td>
                <td>@item.SarkiAdi</td>
                <td>@item.SarkicininAdi</td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.SarkiId" class="btn btn-primary mt-2">Güncelle</a>
                    <a asp-action="Delete" asp-route-id="@item.SarkiId" class=" btn btn-danger mt-2">Sil</a>
                </td>
            </tr>
        }
       


       </tbody>
    </<table>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Ad</th>
                    <th scope="col">Boyut</th>
                    <th scope="col">Tip</th>
                </tr>
            </thead>
            <tbody>
@foreach (var dosya in Model.Dosyalar)
{
                    <tr>

                        <td>@dosya.Id</td>
                        <td>@dosya.Ad</td>
                        <td>@dosya.Boyut</td>
                        <td>@dosya.Tip</td>
                        <td>
                        </td>
                    </tr>
}
</tbody>
</<table>
   



